data/aws-ec2-instance-setup-with-stepfunctions/stepfunctions.asl.json
{
  "QueryLanguage": "JSONata",
  "StartAt": "StartEC2Instance",
  "States": {
    "StartEC2Instance": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:runInstances",
      "Arguments": {
        "ImageId": "<AMIID>",
        "InstanceType": "t4g.small",
        "MinCount": 1,
        "MaxCount": 1,
        "SecurityGroupIds": [
          "<SecurityGroupId>"
        ],
        "SubnetId": "<SubnetID>",
        "IamInstanceProfile": {
          "Name": "<InstanceProfileName>"
        },
        "TagSpecifications": [
          {
            "ResourceType": "instance",
            "Tags": [
              {
                "Key": "Name",
                "Value": "dev"
              }
            ]
          }
        ]
      },
      "Assign": {
        "instanceId": "{% $states.result.Instances[0].InstanceId %}"
      },
      "Next": "WaitEC2InstanceStartUp"
    },
    "WaitEC2InstanceStartUp": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "RunCommand"
    },
    "RunCommand": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Arguments": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds": "{% [$instanceId] %}",
        "Parameters": {
          "commands": [
            "apt update",
            "apt install -y git"
          ]
        }
      },
      "Assign": {
        "commandId": "{% $states.result.Command.CommandId %}"
      },
      "Next": "WaitCommand"
    },
    "WaitCommand": {
      "Type": "Wait",
      "Next": "GetCommandStatus",
      "Seconds": 30
    },
    "GetCommandStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Arguments": {
        "CommandId": "{% $commandId %}",
        "InstanceId": "{% $instanceId %}"
      },
      "Next": "CheckCommandStatus"
    },
    "CheckCommandStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "WaitCommand",
          "Condition": "{% $states.input.Status = \"InProgress\" %}",
          "Comment": "InProgress"
        },
        {
          "Next": "NotifyCommandFailed",
          "Condition": "{% $states.input.Status = \"Failed\" %}",
          "Comment": "Failed"
        }
      ],
      "Default": "Succeed"
    },
    "NotifyCommandFailed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "TopicArn": "<SNSTopicArn>",
        "Message": {
          "message": "コマンドの実行に失敗しました"
        }
      },
      "Next": "Fail"
    },
    "Succeed": {
      "Type": "Succeed"
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}
